:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    flex-direction: column;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    font-family: var(--system-ui);
}

img {
    width: 100%;
    height: auto;
}



.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;

}

.players-shape-section {
    display: flex;
    flex-direction: column;
    
}

.player-shape-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.game-buttons button {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

/* BOARD  */

.board-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    height: 50vh;
    /* border: 1px solid black; */
}

.board-cell {
    width: 100%;
    min-height: 10vh;
    border: 4px solid black;
}

.top-cell {
    border-top: none;
    border-bottom: none;
}

.left-cell {
    border-left: none;
}

.right-cell {
    border-right: none;
    border-left: none;
}

.bottom-cell {
    border-bottom: none;
    border-top: none;
}

.board-cell button {
    width: 100%;
    height: 100%;
    align-self: center;
    background-color: inherit;
    border: none;
    font-size: 4rem;
    
}

.score-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    
}

.player-score-container {
    display: flex;
    justify-content: space-evenly;
}
.player-score-container > h2:nth-child(2) {
    color: rgb(202, 18, 248);
}

.naming-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 15px;
    background-color: #f0eef1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: ease-in;
    width: 300px;
    visibility: hidden;
    padding: 60px 0px;
    gap: 20px;
}

.naming-container > input {
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 6px;
}

.naming-container > button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.naming-container > button:hover {
  background-color: #f7fafa;
}

.naming-container > button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}