:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    flex-direction: column;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}
